.cart-table {
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;

    &__caption {
        font-size: 32px;
        font-weight: 600;
        padding: 0 40px;
    }

    &__header {
        padding: 0 40px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr 1fr 1fr 2fr;
        max-width: 1200px;
        font-weight: 600;
    }

    &__grid {
        text-align: center;
        padding: 8px;
        font-size: 16px;
        line-height: 30px;
        border-bottom: 1px solid gainsboro;

        &-row {
            padding: 0 40px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 3fr 1fr 1fr 2fr;
            max-width: 1200px;
        }

        &-buttons {
            display: flex;
            justify-content: center;
            padding: 8px;
            border-bottom: 1px solid gainsboro;

            > * {
                margin-right: 10px;
            }

            button {
                min-width: 30px;
            }
        }
    }

    &__total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 4px 40px 56px 40px;
        font-size: 24px;
    }
}
